.listItem{
    display: flex;
    justify-content:space-between;
    align-items:center;
    cursor: pointer;
    width:80%;
    margin: 0 auto 20px auto;

    &:hover{
        .avatar{
            background: #24fa9a;
        }
    }
    .listDetails{
        display: flex;
        align-items: center;
        background:white;
        border-radius: 8px;
        justify-content: space-between;
        -webkit-box-shadow: 5px 1px 24px 1px rgba(0,0,0,0.16); 
        box-shadow: 5px 1px 24px 1px rgba(0,0,0,0.16);
        padding: 8px 16px;
        width: 90%;
        
        .listText{

            width: 92%;
            .listTitle{
                font-weight: bold;
                text-transform: capitalize;
            }
            
        }
    }
    .avatar{
        height:40px;
        width: 40px;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #54db9e;
        color: white;
    }

    .cancelItem{
        background:white;
        border-radius:50%;
        height:50px;
        width: 50px;
        font-size:20px;
        color: #FCB8B9;
        display: flex;
        justify-content: center;align-items: center;
        margin-left: 20px;
        cursor: pointer;
        
        &:hover{
            color: red;
            box-shadow: 5px 1px 24px 1px rgba(0,0,0,0.16);
        }
    }
}